<!DOCTYPE>
<html lang="fr">
	<head>
		<title></title>
		<style>
			.error{
				color:red;
				font-weight: bold;
			}
		</style>
	
	</head>
	<body>
		<p>Le router de la DAL fonctionne.</p>
		<br><textarea id="data" rows="30" cols="150" ></textarea>
		<br><button id="btn">envoyer</button></form>
		<br><div id="result"></div>
		<script>
	
			btn.onclick = ()=>{
				result.classname = ""
				result.innerHTML = "en cours de réception ..."
				fetch('endPoint',{ 
					method: 'POST',
					mode: 'cors',
					cache: 'default', 
					headers: {
						'Content-Type': 'application/json;charset=utf-8'
					},
					body: data.value,
				})
				.then(async function(response) {
					if(response.ok) {
						let json = await response.text();
						result.classname = json.isValid ? "" :"error"
						result.innerHTML = JSON.stringify(json)
					}
				})
			}
		</script>
		


		
	</body>
</html>